body{
    background-image: url('../assets/background/menu.png');
}

body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; width: 25%; }
form input { border: 0; padding: 10px; width: 400px; margin-right: .5%; }
#chat-room {width:420px; height: 300px; overflow-y: auto; background: black;}
#messages { list-style-type: none; margin: 0; padding: 0;}
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages li:nth-child(even) { background:#eee; }
#m{width : 400px;}

header{
    text-align: center;
    color: #FFFDF3;
}

#canvas-main {
    margin: auto;
    background-color: rgb(126, 180, 182);
}

#chat-input{
    width : 400px;
}
/* FOR GAMEPLAY TESTING PURPOSES ONLY */
/* #main {
    display: none;
} */

#register{
    margin: auto;
    width: 100%;
    text-align: center;
}

#name-input{
    margin: 0 auto;
    font-size: 4em;
    text-align: center;
}

#game {
    display: none;
}

.canvas{
    top: 50%;
    display: inline-block;
    width: 3%;
    padding-left: 300px;
    height: 20px;
}

#miniMap{
    display: inline-block;
    width: 15%;
}

/* The container */
.audioOptions {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFFDF3;
}

/* Hide the browser's default checkbox */
.audioOptions input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #414141;
}

/* On mouse-over, add a grey background color */
.audioOptions:hover input ~ .checkmark {
    background-color: #545454;
}

/* When the checkbox is checked, add a colored background */
.audioOptions input:checked ~ .checkmark {
    background-color: #9B9B9B;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.audioOptions input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.audioOptions .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* @font-face {
    font-family: "warcraft";
    src: url('assets/font/WarcraftFont.ttf') format('truetype');
  } */

  .player {
    display: block;
    position: relative;
    padding-left: 15px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #FFFDF3;
}