#menu {
    background-image: url('../assets/menu/sea_battle_by_lobzov.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    display: block;
}
  
#menu h1 {
    text-align: center;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#back.menu-back {
    height: 100;
    width: 100;
    display: none;
    position: absolute;
    top: 3%; left: 31%; bottom: 0; right: 0;
}

#leaderboard {
    width: 40%;
    height: 100%;
    background-position: center;
    background-color: rgb(255,255,255);
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    display: none;
}

#leaderboard table {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#leaderboard tr:nth-child(even) {
    background-color: #dddddd;
}

#leaderboard tr#top-player{
    text-align: left;
    background-color: rgba(245, 217, 60, 0.75);
}

#leaderboard td#player{
    text-align: left;
}

#leaderboard td#wins{
    text-align: right;
}

#credits {
    width: 40%;
    height: 100%;
    background-position: center;
    background-color: rgb(255,255,255);
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    text-align: center;
    display: none;
}

.menuItem {
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgb(146, 130, 41);
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: rgb(245, 217, 60);
    background-image: -webkit-linear-gradient(bottom, rgb(245, 217, 60) 0%, rgb(146, 130, 41) 100%);
    background-image:         linear-gradient(to bottom, rgb(245, 217, 60) 0%, rgb(146, 130, 41) 100%);
    border-radius: 0px;
}
  
.menuItem:hover {
    text-decoration: inherit;
    background-color: rgb(245, 217, 60);
    background-image: -webkit-linear-gradient(bottom, rgb(146, 130, 41) 0%, rgb(245, 217, 60) 100%);
    background-image:         linear-gradient(to bottom, rgb(146, 130, 41) 0%, rgb(245, 217, 60) 100%);
}
  
.menuItem-disabled{
    pointer-events: none;
    cursor: not-allowed;
    display: block;
    width: 150px;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    opacity: 0.4;
    border: 1px solid rgb(133, 129, 112);
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: inherit;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: rgb(245, 217, 60);
}
  
ul {
    list-style-type: none;
}
  
li {
    margin: 5px 0;
}

#credits li {
    font-size: 30px;
}







 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

 /* Bordered form */
form-container {
    position: relative;
    width: 100%;
    border: 3px solid rgb(180, 180, 180);
    background-color: rgba(255,255,255,0.8);
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
}

/* Set a style for all buttons */
button {
    background-color: rgb(75,175,75);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    cursor: pointer;
    width: 30%;
    display: block;
}

/* Add a hover effect for buttons */
button:hover {
    background-color: rgb(110, 200, 110);
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.img-container {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 30%;
    border-radius: 50%;
}

/* Add padding to containers */
.form-container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

label {
    width: 60%;
    margin-left:20%;
    margin-right:80%;
}

#remember {
    margin-left:70%;
    margin-right: auto;
}

/* The Close Button */
.close {
    position: relative;
    right: 25px;
    top: 0;
    color: #aaaaaa;
    float: right;
    font-size: 60px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}